.unemployment_rate_map{
    justify-content: left;
    position: relative;
    display: flex;
}

.group_comparison{
    display: flex;
    justify-content: center;
}

.annotation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background for visibility */
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid black; /* Optional: border to highlight the annotation */
    font-family: Arial, Helvetica, sans-serif;
  }