.unemployment_rate_map{
    justify-content: left;
    position: relative;
    display: flex;
}

.group_comparison{
    display: flex;
    justify-content: left;
}

.parallel_coordinate{
    display: flex;
    justify-content: left;
}

.annotation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background for visibility */
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid black; /* Optional: border to highlight the annotation */
    font-family: Arial, Helvetica, sans-serif;
  }

.parallel_container {
    display: flex;               /* Use Flexbox to align child elements */
    justify-content: space-between;  /* Space between the plot and the paragraph */
    align-items: flex-start;      /* Align items to the top */
    margin-top: 40px;
}

#parallel_coordinate_plot {
    width: 60%;                  /* Set width for the plot container */
}

#parallel_coordinate_text {
    
    width: 40%;                  /* Set width for the text container */
    margin-left: 5px;            /* Add space between the plot and text */
    font-size: 14px;              /* Adjust font size if necessary */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}